<!DOCTYPE html>
<html>
	<head>
		{% block title %}
			<title>
				Trendsphere - Se connecter
			</title>
		{% endblock %}
		<link rel="stylesheet" href="{{asset("css/stylelogin.css")}}">
		<meta charset="UTF-8">
    	<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
	</head>
	{% block body %}
		<body>

			<div class="formulaire">
				<form method="post">
					{% if error %}
						<div class="alerte">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
					{% endif %}

					{% if app.user %}
						<div class="mb-3">
							Vous êtes connecté en tant que
							{{ app.user.userIdentifier }},
							<a href="{{ path('app_logout') }}">Se déconnecter</a>
						</div>
					{% endif %}

					<h1 class="titre">Se connecter</h1>

					<input type="email" name="email" class="input" placeholder="EMAIL" value="{{ last_username }}" id="inputEmail" autocomplete="email" required autofocus>
					<br>


					<input type="password" name="password" id="inputPassword" placeholder="MOT DE PASSE" class="input" autocomplete="current-password" autocomplete="password" required>


					<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">


					<div class="checkbox">
						<label>
							<input type="checkbox" name="_remember_me">
							Se souvenir de moi
						</label>
					</div>

					<button class="button" type="submit">
  						CONNECTER
					</button>

				</form>
			</div>
		{% endblock %}
	</body>
</html>
